<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> edit <%= campground.title %> </title>
</head>
<body>
    <h1>Edit Campgrounds</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        
        <label for="title">Campground Name</label>
        <input type="text" name="title" id="title" placeholder="<%= campground.title %> ">

        <label for="price">Price for Campground</label>
        <input type="number" name="price" id="price" value = <%= campground.price %> >

        <label for="location">Campground Location</label>
        <input type="text" name="location" id="location" placeholder="<%= campground.location %> ">
        
        <label for="description">Decription of Campground</label>
        <input type="text" name="description" id="description" placeholder="<%= campground.description %> ">

        <button type="submit">Submit</button>
    </form>
    <a href="/campgrounds">Go Home</a>
</body>
</html>